.contenedorCabecera{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorTextoCabecera{
    padding: 5%;
}