@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.contenedor{
    background-color: #1B5A85;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* position: fixed; */
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 5%;
    color: white;
    font-family: "Ubuntu Mono", monospace;
}

.contenedor ul{
    list-style: none;
    display: flex;
    gap: 15%;
    white-space: nowrap;
    margin-top: 0;
}

.contenedorLogo{
    grid-column: 1;
    margin-left: 5%;
    font-size: 1.1rem;
}

.contenedorLista{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}
